.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  padding: 1rem;
  min-height: 400px;
}

.skillsContainer {
  max-width: 1200px;
  width: 100%;
  display: grid;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 600;
}

.skillContainer {
  padding: 2rem;
  border: 1px solid white;
  border-radius: 12px;
}

.skillTag {
  max-width: 1200px;
  width: 100%;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 1rem;
}

.skills {
  margin-inline-start: 40px;
}

@media (min-width: 20em) {
  .skillsContainer {
    grid-template-columns: 100%;
    row-gap: 1rem;
  }

  .containter {
    justify-content: start;
  }

  .skillContainer {
    width: 100%;
  }
}

@media (min-width: 40em) {
  .skillsContainer {
    grid-template-columns: repeat(2, 49%);
  }

  .container {
    justify-content: center;
  }
}

@media (min-width: 50em) {
  .skillsContainer {
    grid-template-columns: repeat(2, 49%);
  }
}
