.welcomeContainer {
  width: 100vw;
  height: 100vh;
  /* position: fixed; */
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
}

.helloWorld {
  /* font-size: 60px; */
  font-weight: 700;
  overflow: hidden;
  border-inline-end: 2px solid transparent;
  white-space: nowrap;
  animation:
    typing 1.0s steps(12, end),
    blink-caret 0.75s step-end 4.0;
}

.welcomeTyping {
  /* font-size: 60px; */
  font-weight: 700;
  overflow: hidden;
  border-inline-end: 2px solid white;
  white-space: nowrap;
  background: linear-gradient(to right, #1117CF, #CF6E98);
  background-clip: text;
  color: transparent;
  animation:
    typing 2.0s steps(25, end),
    blink-caret .75s step-end infinite;
}

.tv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.turningOff {
  background-color: white;
}

.turnedOff {
  height: 3px;
}

.turnedOut {
  width: 0%;
}

@keyframes typing {
  from {width: 0}
  to {width: 100%}
}

.skipBtn {
  position: absolute;
  padding: 1rem;
  bottom:20px;
  right: 20px;
  border: 1px solid white;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s;
}

.skipBtn:hover {
  background-color: white;
  color: #222222;
}

@keyframes blink-caret {
  from, to {border-color: transparent}
  50% {border-color: white;}
}

@media (min-width: 30em) {
  .helloWorld, .welcomeTyping {
    font-size: 250%;
  }
}

@media (min-width: 40em) {
  .helloWorld, .welcomeTyping {
    font-size: 300%;
  }
}

@media (min-width: 50em) {
  .helloWorld, .welcomeTyping {
    font-size: 400%;
  }
}

@media (min-width: 60em) {
  .helloWorld, .welcomeTyping {
    font-size: 475%;
  }
}
