* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  background-color: #222222;
}

html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}
